.selectButton{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
    background-color: #f4f7f5;
    cursor: pointer;
}

.searchDiv{
    width: 100%;
    max-width: 600px;
    padding: 0 10px;
}

.searchInput{
    width: calc(100% - 170px); 
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    background-color:  #f4f7f5;
}